body{
    background-color: rgba(43, 100, 147, 0.8); 
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
}
form{
    margin: auto;
    width: 30%;
    padding: 30px;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 10px;
    box-shadow: 0px 5px 2px 0px #2b2b31
}
h1{
    text-align: center;
}
input, select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 5px;
}
fieldset{
    padding: 70px;
    margin-bottom: 50px;
}
select{
    background-color: rgba(105, 137, 0, 0.9);
    color: rgba(248, 197, 6, 0.9);
    font-family: Arial, sans-serif;
}